
BookRating/BookRating/obj/BookRating.csproj.nuget.dgspec.json
BookRating/BookRating/obj/BookRating.csproj.nuget.g.props
BookRating/BookRating/obj/BookRating.csproj.nuget.g.targets
BookRating/BookRating/obj/Debug/net7.0/BookRating.AssemblyInfo.cs
BookRating/BookRating/obj/Debug/net7.0/BookRating.AssemblyInfoInputs.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.assets.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.csproj.AssemblyReference.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.GeneratedMSBuildEditorConfig.editorconfig
BookRating/BookRating/obj/project.assets.json
BookRating/BookRating/obj/project.nuget.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.AssemblyInfo.cs
BookRating/BookRating/obj/Debug/net7.0/BookRating.AssemblyInfoInputs.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.assets.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.csproj.AssemblyReference.cache
BookRating/BookRating/obj/Debug/net7.0/BookRating.GeneratedMSBuildEditorConfig.editorconfig
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/50858_133582030845862340/values.xml
